{% extends "front/layout.html" %}

{% block head %}
  <title>{{ config.SITE_NAME }}</title>
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ config.SITE_NAME }}">
  <meta property="og:description" content="{{ config.SITE_DESCRIPTION }}">
  <meta property="description" content="{{ config.SITE_DESCRIPTION }}">
  {% if config.SITE_LOGO %}
  <meta property="og:image" content="{{ config.SITE_LOGO }}">
  {% endif %}
  <meta name="twitter:card" content="summary">
{% endblock %}

{% block body %}
  <ul>
    {% for cafe in cafes %}
    <li><a href="{{ url_for('.view_cafe', slug=cafe.slug) }}">{{ cafe.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
