<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
  {% include "front/share.html" %}
  <title>{{ config.SITE_NAME }}</title>
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ config.SITE_NAME }}">
  <meta property="og:description" content="{{ config.SITE_DESCRIPTION }}">
  <meta property="description" content="{{ config.SITE_DESCRIPTION }}">
  {% if config.SITE_LOGO %}
  <meta property="og:image" content="{{ config.SITE_LOGO }}">
  {% endif %}
  <meta name="twitter:card" content="summary">
</head>
<body>
  <header>
    <h1>{{ config.SITE_NAME }}</h1>
    <p>{{ config.SITE_DESCRIPTION }}</p>
  </header>
  {% for topic in topics %}
  {% set user = topic_users.get(topic.user_id|string) %}
  {% set cafes = topic_cafes.get(topic.id) %}
  <article class="hentry">
    <h1 class="entry-title">
      <a href="{{ url_for('.view_topic', tid=topic.id) }}">{{ topic.title }}</a>
    </h1>
    {% if user %}
    <span class="author vcard">
      <a class="fn url" href="{{ url_for('.view_user', username=user.username) }}">{{ user }}</a>
    </span>
    {% endif %}
    {% for cafe in cafes %}
    <a href="{{ url_for('.view_cafe', slug=cafe.slug) }}" rel="tag">{{ cafe.name }}</a>
    {% endfor %}
    <time class="published" datetime="{{ topic.created_at|xmldatetime }}" pubdate>{{ topic.created_at|xmldatetime }}</time>
    <time class="updated" datetime="{{ topic.updated_at|xmldatetime }}">{{ topic.updated_at|xmldatetime }}</time>
  </article>
  {% endfor %}
</body>
</html>
