<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
  {% include "front/share.html" %}
  <title>{{ topic.title }}</title>
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ topic.title }}">
  {% set content = topic.html %}
  {% set description = content|striptags|truncate(120) %}
  <meta name="description" content="{{ description }}">
  <meta property="og:description" content="{{ description }}">
  <meta name="twitter:card" content="summary">
</head>
<body>
  <article class="hentry" itemscope itemtype="http://schema.org/Article">
    <h1 class="entry-title" itemprop="name">{{ topic.title }}</h1>
    <meta itemprop="headline" content="{{ topic.title }}">
    <span class="author vcard">
      <a class="fn url" itemprop="author" href="{{ url_for('.view_user', username=topic.user.username) }}">{{ topic.user }}</a>
    </span>
    {% for cafe in cafes %}
      <a href="{{ url_for('.view_cafe', slug=cafe.slug) }}" rel="tag">{{ cafe.name }}</a>
    {% endfor %}
    <div class="entry-content" itemprop="articleBody">
      {{ content|replace('<img ', '<img itemprop="image" ')|safe }}
    </div>
    <time class="published" datetime="{{ topic.created_at|xmldatetime }}" itemprop="datePublished" pubdate>{{ topic.created_at|xmldatetime }}</time>
    <time class="updated" datetime="{{ topic.updated_at|xmldatetime }}" itemprop="dateModified">{{ topic.updated_at|xmldatetime }}</time>
    <div class="comments">
      <div><span itemprop="commentCount">{{ comment_count }}</span> comments</div>
      <ul>
        {% for comment in comments %}
        <li itemscope itemprop="comment" itemtype="http://schema.org/Comment">
          {% set user = comment_users.get(comment.user_id|string) %}
          {% if user %}
          <a itemprop="author" href="{{ url_for('.view_user', username=user.username) }}">{{ user }}</a>
          {% endif %}
          <time datetime="{{ comment.created_at|xmldatetime }}" itemprop="datePublished">{{ comment.created_at|xmldatetime }}</time>
          <div itemprop="text">{{ comment.content }}</div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </article>
</body>
</html>
