<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ user }}">
  <meta property="og:url" content="">
  <meta property="og:description" content="{{ user.description }}">
  <meta property="description" content="{{ user.description }}">
  <meta property="og:image" content="{{ user.avatar_url }}">
  <meta name="twitter:card" content="summary">
  <title>{{ user }}</title>
</head>
<body>
  <header>
    <h1>{{ user }}</h1>
    <p>{{ user.description }}</p>
  </header>
  {% for topic in topics %}
  <article class="hentry" itemscope itemtype="http://schema.org/Article">
    <h1 class="entry-title" itemprop="name">
      <a href="{{ url_for('.view_topic', tid=topic.id) }}" itemprop="url">{{ topic.title }}</a>
    </h1>
    <span class="author vcard">
      <a class="fn url" itemprop="author" href="{{ url_for('.view_user', username=user.username) }}">{{ user }}</a>
    </span>
    <time class="published" datetime="{{ topic.created_at|xmldatetime }}" itemprop="datePublished" pubdate>{{ topic.created_at|xmldatetime }}</time>
    <time class="updated" datetime="{{ topic.updated_at|xmldatetime }}" itemprop="dateModified">{{ topic.updated_at|xmldatetime }}</time>
  </article>
  {% endfor %}
</body>
</html>
