<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
  {% include "front/share.html" %}
  <title>{{ user }}</title>
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ user }}">
  <meta property="og:description" content="{{ user.description }}">
  <meta property="description" content="{{ user.description }}">
  {% if user.avatar_url %}
  <meta property="og:image" content="{{ user.avatar_url }}">
  {% endif %}
  <meta name="twitter:card" content="summary">
</head>
<body>
  <header>
    <h1>{{ user }}</h1>
    <p>{{ user.description }}</p>
  </header>
  {% for topic in topics %}
  <article class="hentry">
    <h1 class="entry-title">
      <a href="{{ url_for('.view_topic', tid=topic.id) }}">{{ topic.title }}</a>
    </h1>
    <span class="author vcard">
      <a class="fn url" href="{{ url_for('.view_user', username=user.username) }}">{{ user }}</a>
    </span>
    <time class="published" datetime="{{ topic.created_at|xmldatetime }}" pubdate>{{ topic.created_at|xmldatetime }}</time>
    <time class="updated" datetime="{{ topic.updated_at|xmldatetime }}">{{ topic.updated_at|xmldatetime }}</time>
  </article>
  {% endfor %}
</body>
</html>
