simplejson==3.6.5
SQLAlchemy==1.0.6
Flask==0.10.1
Flask-WTF==0.11
Flask-OAuthlib==0.9.1
Flask-SQLAlchemy==2.0
mistune==0.7
Pygments==2.0.2
redis==2.10.3
psycopg2==2.6.1

# fix security issues
pyOpenSSL==0.15.1
ndg-httpsclient==0.4.0
pyasn1==0.1.8
