html, body {
  margin: 0;
  padding: 0;
}
.container {
  -webkit-font-smoothing: antialiased;
  max-width: 560px;
  margin: 0 auto;
  padding: 40px 10px;
  color: #333;
  font: normal normal 18px/1.5 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.hide {
  display: none;
}
.avatar {
  float: left;
  width: 64px;
  height: 64px;
  margin-right: 16px;
  border-radius: 5px;
  border: 2px solid #ddd;
  text-align: center;
  line-height: 64px;
}
div.avatar {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.content-wrap {
  overflow: hidden;
  word-break: break-all;
  color: #656566;
  font-size: 14px;
}
.content-wrap p {
  margin: 4px 0 6px;
}
.banner h1 {
  margin: 0 0 30px;
}
.scopes {
  clear: both;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #ddd;
}
.scopes h4 {
  margin: 0 0 10px;
}
.scopes label {
  font-size: 13px;
  font-weight: 500;
  color: #666;
  display: block;
}
.scopes label[data-scope="user:email"] {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.scopes .info {
  color: #F8B35C;
  padding: 4px;
  font-size: 14px;
}
button {
  border: none;
  text-shadow: none;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  padding: 8px 20px;
  border-radius: 3px;
  cursor: pointer;
}
button.decline {
  margin-left: 1em;
  background-color: #F8B35C;
}
button.approve {
  background-color: #54CDBA;
}
.clearfix:after {
  display: table;
  content: ' ';
  clear: both;
}
.user {
  margin: 30px 0;
  font-size: 14px;
  background: #f7f7f7;
  padding: 20px 18px;
  border-radius: 5px;
}
#login-form label {
  display: block;
  font-weight: 700;
  margin-top: 8px;
}
#login-form input {
  display: block;
  margin-top: 4px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 80%;
  font-size: 16px;
  padding: 8px 4px;
}
#login-form button {
  font-size: 14px;
  margin-top: 10px;
}
#login-button {
  background-color: #7CC041;
}
#login-form .field-group {
  padding-bottom: 10px;
}
#change-account {
  font-size: 13px;
  color: #999;
}
footer {
  padding-top: 14px;
  margin-top: 40px;
  border-top: 1px solid #eee;
  color: #acacaa;
  font-size: 13px;
  text-align: center;
}
